// https://bootswatch.com/help/
//@import 'bootswatch/dist/zephyr/variables';
@import 'bootstrap/scss/bootstrap';
//@import 'bootswatch/dist/zephyr/bootswatch';

.icon {
    width: 16px;
    height: 16px;
    display: inline-flex;
}

.icon svg path {
    fill: currentColor;
}

.si {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    background-color: currentColor; /* inherits text color ✓ */
    mask-image: var(--icon-url);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-image: var(--icon-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}
