// https://bootswatch.com/help/
//@import 'bootswatch/dist/zephyr/variables';
@import 'bootstrap/scss/bootstrap';
//@import 'bootswatch/dist/zephyr/bootswatch';

:root,
[data-bs-theme='light'] {
    --bs-emphasis-bg: var(--bs-white);
    --bs-emphasis-bg-rgb: var(--bs-white-rgb);
}

[data-bs-theme='dark'] {
    --bs-emphasis-bg: var(--bs-black);
    --bs-emphasis-bg-rgb: var(--bs-black-rgb);
}

.form-control {
    background-color: rgba(var(--bs-emphasis-bg-rgb), 50%);
}

.transparent-table {
    --bs-table-bg: rgba(var(--bs-emphasis-bg-rgb), 0.3);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-bg-rgb), 0.5);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-bg-rgb), 0.6);
}

.glass-outline {
    backdrop-filter: blur(6px);
    background-color: rgba(var(--bs-emphasis-bg-rgb), 50%);
    border: 1px solid var(--bs-border-color-translucent);
    filter: drop-shadow(15px 12px 12px var(--bs-emphasis-bg));
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-flex;
}

.icon svg path {
    fill: currentColor;
}

.si {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    background-color: currentColor; /* inherits text color ✓ */
    mask-image: var(--icon-url);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-image: var(--icon-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}
